* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

h1 {
  margin-top: 4rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

section {
  width: 95%;
  margin: 2rem auto;
  padding: 0.4rem;
}
section input,
button {
  padding: 0.4rem;
  margin: 0.5rem 0rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.4rem;
}
.input-form{
    min-width:280px;
    margin: 1rem auto;
    border-radius: 0.4rem;
}
section label {
  display: block;
}

button {
  background-color: plum;
  font-weight: bold;
  display: block;
}

.cash-input-container{
  display: none;
}

.para-error-msg{
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: none;
}
table {
  display :none ;
  max-width: fit-content;
  margin: 1rem 0px;
  border-radius: 0.4rem;
  border: 2px sold purple;
}

table caption,
th,
td {
  padding: 0.5rem 2rem;
}
.row-even {
  background-color: rgb(220, 198, 255);
}
